@import "../sass/variables.scss";

.contact-card {
  height: 500px;
  box-shadow: 0 0 0.5rem rgba($color: #000000, $alpha: 0.3);
  border-radius: 3px;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
}

.contact-info {
  background-color: $color-black;
  width: 40%;
}

.contact-message {
  background-color: $color-white;
  width: 60%;
}

