@import "../sass/variables.scss";
@import "../sass/abstract.scss";

.navbar {
  border-bottom: 2px $color-black solid;
  padding: 2rem;
  display: flex;
  flex-direction: row;

  ul {
    display: block;
  }

  .nav-top {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .nav-color {
    background-color: $color-white;
  }

  ul {
    list-style: none;
  }
}

.is-expanded {
  flex-direction: column;

  ul {
    margin-top: 2rem;
  }

  li {
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }
}

.is-not-expanded {
  ul {
    display: none;
  }
}

@include respond-above(md) {
  .navbar {
    flex-direction: row;

    ul {
      display: flex;
    }

    li {
      &:not(:last-child) {
        margin-right: 1.5rem;
      }
    }
  }
}

.link {
  text-decoration: none;
  color: $color-grey-medium;
}

.link-active {
  color: $color-black;
  // border-bottom: 1px solid $color-black;
}

.link-contact {
  text-decoration: none;
  color: $color-white;
  background-color: $color-primary;
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
  box-shadow: 0rem 0rem 0.3rem rgba($color: $color-primary, $alpha: 0.3);
  transition: all 0.2s;

  margin-left: -0.3rem;
  @include respond-above(md) {
    margin-left: 0;
  }

  &:hover {
    background-color: $color-black;
    box-shadow: 0.1rem 0.1rem 0.3rem rgba($color: $color-black, $alpha: 0.3);
  }
}

.logo {
  text-decoration: none;
  color: $color-black;
}

.hamburger {
  padding: 0.5rem 0;

  margin-left: auto;

  display: flex;
  @include respond-above(md) {
    display: none;
  }

  justify-content: center;
  align-items: center;

  span {
    display: block;
    background-color: $color-black;
    width: 1.8rem;
    height: 3px;
    position: relative;

    &::before,
    &::after {
      content: "";
      background-color: $color-black;
      position: absolute;
      left: 0;
      right: 0;
      height: 3px;
    }

    &::before {
      top: -0.63rem;
    }
    &::after {
      bottom: -0.63rem;
    }
  }

  &:focus {
    outline: none;
  }
}
