@import "../sass/variables.scss";

.navbar {
  height: 60px;
  background-color: $color-black;

  ul {
    list-style-type: none;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 1rem;
  }

  li {
    &:not(:last-child) {
      margin-right: 1rem;
    }
    &:first-child {
      margin-right: auto;
    }
  }
}

.link {
  text-decoration: none;
  color: $color-grey-light;
}

.link-active {
  color: $color-white;
}

.logo {
  text-decoration: none;
  color: $color-white;
}
